- title t(".dns_records")

- content_for(:toolbar) do
  .btn-group
    = link_to new_dns_record_path, class: 'btn btn-primary btn-xs', title: t(".new_dns_record") do
      %span.glyphicon.glyphicon-plus

= paginate @dns_records

%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th= MangoHandcart::DnsRecord.human_attribute_name(:name)
      %th= MangoHandcart::DnsRecord.human_attribute_name(:subdomain)
      %th= MangoHandcart::DnsRecord.human_attribute_name(:domain)
      %th= MangoHandcart::DnsRecord.human_attribute_name(:tld_size)
      %th= MangoHandcart::DnsRecord.human_attribute_name(:active)
      %th
      %th
  %tbody
    - @dns_records.each do |dns_record|
      %tr
        %td= link_to dns_record.name, dns_record
        %td= dns_record.subdomain
        %td= dns_record.domain
        %td= dns_record.tld_size
        %td= dns_record.active? ? "Active" : "Inactive"
        %td.action-button
          = link_to edit_dns_record_path(dns_record), class: 'btn btn-warning btn-xs', title: t(".edit_dns_record") do
            %span.glyphicon.glyphicon-edit
        %td.action-button
          = link_to dns_record, method: :delete, data: { confirm: t(".confirm") }, class: 'btn btn-danger btn-xs', title: t(".remove_dns_record") do
            %span.glyphicon.glyphicon-remove

= paginate @dns_records
