#navbar-collapse-1.collapse.navbar-collapse
  %ul.nav.navbar-nav
    %li
      = link_to main_app.root_path do
        %span.glyphicon.glyphicon-arrow-left
        Back to
        = t(".main_app")
    %li{class: (params[:controller] == "mango_handcart/dns_records") ? "active" : nil}
      = link_to mango_handcart.root_path do
        %span.glyphicon.glyphicon-th-list
        = t(".dns_records")
    %li{class: (params[:controller] == "mango_handcart/ip_addresses") ? "active" : nil}
      = link_to mango_handcart.ip_addresses_path do
        %span.glyphicon.glyphicon-screenshot
        = t(".ip_addresses")
