= simple_form_for @ip_address do |f|
  = f.error_notification

  = f.input :address
  = f.input :subnet_mask
  = f.association :handcart, collection: MangoHandcart.handcart_class.all, label: MangoHandcart.handcart_class.model_name.human
  = f.input :blacklisted, as: :select, include_blank: false

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit, class: 'btn btn-warning'
      = link_to 'Cancel', @ip_address.new_record? ? ip_addresses_path : ip_address_path(@ip_address), class: 'btn btn-link'
