- title t(".title")

- content_for(:toolbar) do
  .btn-group
    = link_to new_ip_address_path, class: 'btn btn-primary btn-xs', title: t(".new_ip_address") do
      %span.glyphicon.glyphicon-plus

= paginate @ip_addresses

%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th= MangoHandcart::IpAddress.human_attribute_name(:address)
      %th= MangoHandcart::IpAddress.human_attribute_name(:subnet_mask)
      %th= MangoHandcart::IpAddress.human_attribute_name(:handcart)
      %th= MangoHandcart::IpAddress.human_attribute_name(:blacklisted)
      %th
      %th
  %tbody
    - @ip_addresses.each do |ip_address|
      %tr
        %td= link_to ip_address.address, ip_address, title: t(".view_ip_address")
        %td= ip_address.subnet_mask
        %td
          - if ip_address.handcart.present?
            = link_to ip_address.handcart.to_s, MangoHandcart.handcart_class.handcart_show_path(ip_address.handcart)
          - else
            None
        %td= ip_address.blacklisted? ? "Yes" : "No"
        %td.action-button
          = link_to edit_ip_address_path(ip_address), class: 'btn btn-xs btn-warning', title: t(".edit_ip_address") do
            %span.glyphicon.glyphicon-edit
        %td.action-button
          = link_to ip_address, method: :delete, data: { confirm: t(".confirm") }, class: 'btn btn-danger btn-xs', title: t(".remove_ip_address") do
            %span.glyphicon.glyphicon-remove

= paginate @ip_addresses
